@import '../../styles/mixin.scss';
.leftbar {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 80px;
    max-height: calc(100vh - 90px);
    min-width: 250px;
    background-color: themed('bgPrimary');
    overflow: auto;
    // firefox
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      display: none;
    }

    .containerLeftbar {
      display: flex;
      flex-direction: column;
      padding: 20px 10px;
      gap: 15px;

    }
    @include mobile {
      display: none;
    }
  }
}
