@mixin button {
  width: 50%;
  border: none;
  padding: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b0b5f8;

  .registerCard {
    display: flex;
    flex-direction: row-reverse;
    width: 60%;
    min-height: 600px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;

    .flex {
      flex-grow: 1;
      flex-basis: 0;
    }

    .left {
      display: flex;
      flex-direction: column;
      padding: 50px;
      justify-content: center;
      gap: 30px;
      //   background: url('https://images.pexels.com/photos/5081927/pexels-photo-5081927.jpeg');
      background: radial-gradient(
          rgba(61, 72, 220, 0.5),
          rgba(61, 72, 220, 0.5)
        ),
        url('/pexels-register.jpg') center / cover;
      color: white;

      h1 {
        font-size: 6.25rem;
        line-height: 6.25rem;
      }

      p {
        font-size: 1.2rem;
      }

      span {
        font-size: 0.9rem;
      }

      button {
        background-color: white;
        color: rebeccapurple;
        @include button();
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px;
      gap: 20px;

      h1 {
        color: #555;
        font-size: 3em;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 10px;
          font-size: 1.2rem;
        }
        .gender {
          width: 50%;
          padding: 10px;
          border: none;
          border-bottom: 1px solid lightgray;
          font-size: 1rem;
        }
        button {
          background-color: #090476;
          background-color: rebeccapurple;
          color: white;
          @include button();
        }
      }
      span {
        display: none;
      }
    }
  }

  @media (max-width: 1400px) {
    .registerCard {
      width: 80%;
    }
  }

  @media (max-width: 1200px) {
    .registerCard {
      .left {
        h1 {
          font-size: 4.25rem;
          line-height: 4.25rem;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .registerCard {
      .left {
        display: none;
      }
      .right {
        span {
          display: block;

          a {
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: bold;
            color: rebeccapurple;
          }
        }
      }
    }
  }
  @media (max-width: 400px) {
    .registerCard {
      justify-content: center;
      .right {
        form {
          width: 80%;

          button {
            font-size: 1.1rem;
          }
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
}
