@import '../../../../styles/mixin.scss';

.dropdownMenu {
  @include themify($themes) {
    // display: none;
    position: absolute;
    top: 50%;
    right: 8rem;
    min-width: 160px;
    padding: 10px;
    background-color: themed('bgPrimary');
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;

    a {
      float: none;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      border-radius: 10px;
      color: themed('textColorPrimary');
      &:hover {
        background-color: $linkHover;
      }
    }
    button {
      width: 100%;
      padding: 12px 16px;
      border: none;
      text-align: left;
      border-radius: 10px;
      background-color: themed('bgPrimary');
      color: themed('textColorPrimary');
      &:hover {
        background-color: $linkHover;
      }
    }
  }
}
