@import './variables.scss';

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 560px) {
    @content;
  }
}

@mixin medium {
  @media (max-width: 780px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin button {
  width: 50%;
  border: none;
  padding: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

@mixin item {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  color: themed('textColorPrimary');
  cursor: pointer;
}

@mixin userImg {
  img {
    width: 40px;
    height: 40px;
    border-radius: 15px;
  }
}
