@import '../../styles/mixin.scss';

form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .formGroup {
    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid lightgray;
      padding: 20px 10px;
      font-size: 1.2rem;
    }
  }
  button {
    background-color: #090476;
    background-color: rebeccapurple;
    color: white;
    @include button();
  }

  @include mobile {
    width: 80%;

    button {
      font-size: 1.1rem;
    }
  }
}
