@import '../../styles/mixin.scss';

.home {
  @include themify($themes) {
    @include page;

    .containerHome {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 10px;
      width: 100%;
      // background-color: white;
    }

    @include mobile {
      padding: 0;
    }
  }
}
