@import '../../styles/mixin.scss';
.container {
  padding: 10px;
  border-radius: 10px;
  background-color: white;

  .item {
    @include item;
    padding: 5px 10px;
    justify-content: space-between;

    span {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 1px;
      text-align: center;
      background-color: #f95e5e;
      color: white;
    }

    .info {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
      }
      div {
        width: 120px;
        overflow: hidden;
      }
    }
  }
}
